.container{
    border: 0px black solid;
    width: 628px;
    height: 700px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

span{
    font-size: 21px;
    position: relative;
    display: block;
    top: 60px;
    left: 23px;
}

#check{
    position: relative;
    top: 74px;
    width: 290px;
    border: 2px black solid;
    height: 53px;
    border-radius: 12px;
    font-size: 18px;
}

#answer{
    border: 2px black solid;
    width: 294px;
    height: 62px;
    position: relative;
    top: 136px;
    font-size: 20px;
    border-radius: 14px;
    font-size: 28px;
    text-align: center;
}
#text{
    position: relative;
    top: 125px;
}

#btn{
    position: relative;
    top: 186px;
    width: 182px;
    height: 56px;
    border-radius: 36px;
    left: 55px;
    color: white;
    background-color: #0037ff;
    font-size: 20px;
}
#btn:active{
    background-color: #3369c7;
}

#check:hover{
    transform:scale(1.05,1.05)
}
h1{
    animation: text 2s linear 0s infinite alternate;
}
@keyframes text {
    100%{
        transform: translate(40px);
    }
}